/*color theme*/
$primary-color: #1b9dcf;
$secondary-color: #293133;
$tertiary-color: darken($primary-color, 30%);
$quarterny-color: #ffd67e;

$text-color: darken($primary-color, 20%);
$background-color: #fffdfb;

/*max-block-width*/
$max-block-width: 800px;
$max-block-width: 90%;
